{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
{% load static %}


<style>
.table td, .table th {
    min-width: 6vw;
    max-width: 6vw;
}
</style>

<html>
<head>
    <link rel="stylesheet" href="{% static 'my_css/main_pages.css' %}">
</head>
<body>
<div class="container-fluid">
    {% block top_menu %}
    {% include 'top_panel.html' %}
    {% endblock %}
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="card flex-fill d-flex h-100 justify-content-start">
                    {% block groups_panel %}
                    {% include 'groups_panel.html' %}
                    {% endblock %}
                </div>
            </div>

            <div class="col-md-4 col-lg-4">
                <div class="card flex-fill d-flex h-100 justify-content-end">
                    {% if current_group_id != None %}
                        <div class="flex-fill">
                            {% block current_group_panel %}
                            {% include 'current_group_panel.html' %}
                            {% endblock %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="card flex-fill flex-fill d-flex h-100 justify-content-end">
                    <div class="flex-fill">
                        {% block unassigned_students_panel %}
                        {% include 'unassigned_students_panel.html' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

{% endblock content %}
